@use '@angular/material' as mat;

html {
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Times New Roman,
      density: 0,
    ));
}

html,
body {
  height: 100%;
 
}